<div class="col-md-4">
    <p class="info" style="margin-bottom: 1em">
        Initial represents the initial amount of memory and committed represents the amount of memory guaranteed to be available for use by the JVM.
        <a href="http://docs.oracle.com/javase/8/docs/api/java/lang/management/MemoryUsage.html"> - Reference</a>
    </p>

    <table class="table" style="margin-top: 2em">
        <tbody>
        <tr>
            <th style="width: 20%">Initial: </th>
            <td><span data-bind="text: readableMachineHeap().init"></span></td>

            <th style="width: 20%">Committed: </th>
            <td><span data-bind="text: readableMachineHeap().committed"></span></td>
        </tr>
        <tr>
            <th>Used: </th>
            <td><span data-bind="text: readableMachineHeap().used"></span></td>

            <th>Maximum: </th>
            <td><span data-bind="text: readableMachineHeap().max"></span></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-8">
    <div class="well" style="padding: 2px 2px 0px 2px; display: inline-block">
        <canvas id="jvm_heap_smoothie_chart" width="840" height="160" style="border: 1px solid #ddd; border-radius: 2px"></canvas>
    </div>
</div>