<div class="span3">
    <table class="table">
        <tbody>
        <tr>
            <th style="width: 20%">Trace: </th>
            <td><span data-bind="text: applicationLoggingTrace().count"></span></td>

            <th style="width: 20%">Info: </th>
            <td><span data-bind="text: applicationLoggingInfo().count"></span></td>
        </tr>
        <tr>
            <th>Error: </th>
            <td><span data-bind="text: applicationLoggingError().count"></span></td>

            <th>Warning: </th>
            <td><span data-bind="text: applicationLoggingWarn().count"></span></td>
        </tr>
        <tr>
            <th>Debug: </th>
            <td><span data-bind="text: applicationLoggingDebug().count"></span></td>

			<th>Combined: </th>
            <td><span data-bind="text: applicationLoggingAll().count"></span></td>
        </tr>

        </tbody>
    </table>
</div>
<div class="span5">
    <p class="info">
        Statistics gathered from log statements written to Logback.
    </p>

    <p class="info">
        There are currently being written about <b><span data-bind="text: applicationLoggingAll().m1"></span></b> log messages per second.
    </p>
</div>