<div class="col-md-4">
    <div id="jvm_thread_state_container">
    </div>
</div>
<div class="col-md-6">
    <p class="info">
        There are a total number of <b><span data-bind="text: virtualMachineThreads().count"></span></b> threads
        inside the virtual machine.
    </p>

    <p class="info">
        A daemon thread is a thread, that does not prevent the JVM from exiting when the program finishes but
        the thread is still running.
        An example for a daemon thread is the garbage collection.

        <span id="daemonThreads">There are currently <b><span data-bind="text: virtualMachineThreads().daemons"></span></b> daemon threads running inside the JVM.</span>
    </p>
</div>