

.page-header {
    font-family: Oswald, sans-serif;
}

.app-header {
    border-radius: 3px;
    background-color: #555;
    color: white;
    margin-top: 3em;
    margin-bottom: 2em;
}

.app-header .table {
    margin-top: 1em;
}

.app-header h1 {
    font-family: "Arial Black", sans-serif;
}

.app-header .table td {
    border-radius: 3px;
    cursor: default;
    font-family: "Ubuntu Mono", monospace;
}

.app-header .table tr:hover {
    color: #333;
}

p.info {
    font-size: 1.1em;
    font-style: italic;
}

div.page-header {
    margin-top: 4em;
}

.hiddenFromStart {
    visibility: hidden;
}

.table tr:first-child * {
    border-top: 0;
}

div.hero-unit {
    padding: 30px;
}

footer {
    position: absolute;
    bottom: 0;
}

footer a {
    color: #222;
}

footer a:hover {
    text-decoration: none;
}


/* Health check */

.row-health-check .page-header {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.row-health-check .page-header h2 {
    font-size: 1.6em;
    margin-bottom: 0;
}

.health-check {
    margin: 0.3em 0 0.3em 0.5em;
}

.health-check .name {
    font-family: Oswald, sans-serif;
    font-size: 1.1em;
    padding: 2px 6px;
}

.health-check .message {
    font-family: Oswald, sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    padding: 2px 6px;
    margin-left: 4px;
    margin-bottom: 7px;
}

.health-check .glyphicon {
    display: none;
}

.health-check.healthy .glyphicon.healthy {
    display: inline;
}
.health-check.unhealthy .glyphicon.unhealthy {
    display: inline;
}